In [26]:
#imports
import pandas as pd
import numpy as np

In [27]:
#assign data to variables
title_basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
title_akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
title_ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [28]:
#read variable to dataframe
basics = pd.read_csv(title_basics_url,sep='\t', low_memory=False)

In [29]:
#read variable to dataframe
akas = pd.read_csv(title_akas_url,sep='\t', low_memory=False)

In [30]:
#read variable to dataframe
ratings = pd.read_csv(title_ratings_url,sep='\t', low_memory=False)

In [31]:
#view basics df
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [32]:
#view datatypes of basics df
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9191004 entries, 0 to 9191003
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 631.1+ MB

In [33]:
#replace \n with NaN
basics = basics.replace({'\\N':np.nan})
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9190999,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9191000,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9191001,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9191002,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9191003,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [34]:
#change basics.startYear data type to float
basics['startYear']  = basics['startYear'].astype('float')

In [35]:
#view datatypes of basics df to confirm startYear changed to float
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9191004 entries, 0 to 9191003
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(1), object(8)
memory usage: 631.1+ MB

In [36]:
basics['startYear'] = basics.startYear.round().astype('Int64')

In [37]:
#view datatypes of basics df to confirm startYear changed to float
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9191004 entries, 0 to 9191003
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       Int64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: Int64(1), object(8)
memory usage: 639.9+ MB

In [38]:
#use value_counts to view unique values for startYear
basics.value_counts('startYear')

startYear
2021    426182
2018    420696
2017    417656
2019    408211
2016    396600
         ...
1881         2
1878         2
1885         1
1883         1
1874         1
Length: 150, dtype: int64

In [39]:
#run value_counts on titleType to see spelling of values 
basics.value_counts('titleType')

titleType
tvEpisode       6926196
short            886801
movie            619992
video            264699
tvSeries         230302
tvMovie          137348
tvMiniSeries      44918
tvSpecial         38102
videoGame         31998
tvShort           10646
tvPilot               2
dtype: int64

In [40]:
#replace \n with NaN
akas = akas.replace({'\\N':np.nan})
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [41]:
#replace \n with NaN
ratings = ratings.replace({'\\N':np.nan})
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1907
1  tt0000002            5.8       256
2  tt0000003            6.5      1707
3  tt0000004            5.6       168
4  tt0000005            6.2      2520

In [42]:
basics = basics.dropna(subset=['runtimeMinutes', 'genres'])

In [45]:
#filter basics df where 'titleType'' equals 'movie'
basics = basics[basics['titleType'] == 'movie'] 
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"
...,...,...,...,...,...,...,...,...,...
9190769,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9190853,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9190894,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9190921,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9190954,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [46]:
#filter basics where startYear equals 2000 or 2001
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
34791,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61091,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
66306,tt0067683,movie,Workers '71: Nothing About Us Without Us,Robotnicy 1971 - Nic o nas bez nas,0,2006,NaN,47,Documentary
67637,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
9190769,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9190853,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9190894,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9190921,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9190954,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [47]:
#use value_counts funtion to view unique naming conventions to determine US
akas.value_counts('region')

region
FR    3944926
JP    3944914
DE    3928041
IN    3873295
ES    3867982
       ...
NU          1
TV          1
CC          1
PW          1
TC          1
Length: 247, dtype: int64

In [48]:
#filter akas to region eques US only
akas = akas[akas['region'] == 'US'] 
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [49]:
#filter basics df where genre contains "Documentary"
basics = basics[basics['genres'].str.contains("Documentary")!=True]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34791,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61091,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67637,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77931,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86768,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9190676,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9190685,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9190724,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9190769,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9190853,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

In [50]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34791       True
61091       True
67637       True
77931      False
86768       True
           ...
9190676     True
9190685     True
9190724    False
9190769     True
9190853    False
Name: tconst, Length: 136802, dtype: bool

In [51]:
#filter basics on the "keepers"
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34791,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61091,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67637,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86768,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
92733,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy
...,...,...,...,...,...,...,...,...,...
9190140,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9190536,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9190676,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9190685,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9190769,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [52]:
# show summary of how many movies remain and feature datatypes 
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79648 entries, 34791 to 9190769
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79648 non-null  object
 1   titleType       79648 non-null  object
 2   primaryTitle    79648 non-null  object
 3   originalTitle   79648 non-null  object
 4   isAdult         79648 non-null  object
 5   startYear       79648 non-null  Int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  79648 non-null  object
 8   genres          79648 non-null  object
dtypes: Int64(1), object(8)
memory usage: 6.2+ MB

In [53]:
# show summary of how many movies remain and feature datatypes 
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345465 entries, 5 to 33038403
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1345465 non-null  object
 1   ordering         1345465 non-null  int64
 2   title            1345465 non-null  object
 3   region           1345465 non-null  object
 4   language         3694 non-null     object
 5   types            963735 non-null   object
 6   attributes       44834 non-null    object
 7   isOriginalTitle  1344090 non-null  object
dtypes: int64(1), object(7)
memory usage: 92.4+ MB

In [54]:
# show summary of how many movies remain and feature datatypes 
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258682 entries, 0 to 1258681
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1258682 non-null  object
 1   averageRating  1258682 non-null  float64
 2   numVotes       1258682 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.8+ MB

In [55]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [56]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [57]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

In [58]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [59]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [60]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [61]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1907
1  tt0000002            5.8       256
2  tt0000003            6.5      1707
3  tt0000004            5.6       168
4  tt0000005            6.2      2520